@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #333;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculate {
  margin-top: 20px;
  background-color: rgb(124, 124, 124);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: -1px 2px 6px 6px rgba(255, 255, 255, 0.788);
  -webkit-box-shadow: -1px 2px 6px 6px rgba(255, 255, 255, 0.781);
  -moz-box-shadow: -1px 2px 6px 6px rgba(252, 252, 252, 0.781);
}
.screen {
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(205, 241, 179);
  margin-bottom: 10px;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  transform: translateY(-50%);
}

.alert-title {
  color: white;
  visibility: hidden;
}
.alert-text {
  color: white;
  visibility: hidden;
}

.danger-off {
  visibility: hidden;
}

.danger-on {
  visibility: visible;
}

.touch {
  /*background-color: rgb(85, 85, 85);*/
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
}
button {
  background-color: rgb(179, 177, 177);
  box-shadow: -1px 11px 51px 7px rgba(31, 31, 31, 1) inset;
  -webkit-box-shadow: -1px 11px 51px 7px rgba(31, 31, 31, 1) inset;
  -moz-box-shadow: -1px 11px 51px 7px rgba(31, 31, 31, 1) inset;
  border-radius: 10px;
  margin: 1px;
  color: white;
  font-size: 20px;
}
